body {
    /*text-align: center;*/
    font-family: 'Jost', sans-serif;
    background-color: #ffffff;
}

h1 {
    float: left;
    font-size: 48px;
    color: #232c3d;
}

h2 {
    font-size: 36px;
    color: #232c3d;
    text-align: center;
}

h3 {
    font-size: 24px;
    color: #575757;
    font-family: "Ubuntu Light", serif;

}

p {
    text-align: left;
    /*padding: 0px;*/
}

div {
    margin: 5px;
}

/*Machine Information Cards*/
table {
    margin-top: 10px;
}

th, td {
    text-align: left;
    height: 25px;
    vertical-align: bottom;
    border-bottom: 1px solid rgba(0, 0, 0, 0.25);
    width: 300px;
    font-size: 14px;
}

.postIt {
    background-color: #fffffc;
    padding: 5px 30px 30px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 5px;
}
.postIt:hover{
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.postIt-container {
    float: left;
    width: 92%;
    height: 100%;
    display: inline-grid;
    grid-template-columns: 33.3% 33.3% 33.3%;
    grid-gap: 30px;
}

.container {
    padding: 2px 31px;
    border-radius: 5px 5px 0 0;
    margin: -5px -30px;
    transition: 0.3s;
}
.container:hover{
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
/*Machine Information Cards*/

/*NAVBAR*/
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #4b4b4b;
}

li {
    float: left;
}

li a {
    display: block;
    color: #ffffff;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: rgba(150, 150, 150, 0.15);
}
/*NAVBAR*/
